.main {
    padding-top: 30px;
    width: 800px;
    padding: 100px 20px;
}
.main img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid#625AD8;

}
.main h2 {
    padding-top: 10px;
    margin: 20px auto;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.250);
}
.info_headline {
    margin: 20px 0;
    font-size: 20px;
}
.section1 {
    border: 3px solid #625AD8;
    border-radius: 25px 25px 0 0;
    padding: 13px 15px 30px;
    justify-content: space-between;
}
.main, .main img {
    margin: auto;
}
.info {
    flex-direction: row;
}
.info p, input {
    color: #888787;
}
.info p, input, span, .info_headline {
    font-weight: 700;
}
.info p, input, span {
    font-size: 16px;
}
.info p, input, span, .main, .info, .section1 {
    display: flex;
}
.info p, input, span, .main {
    flex-direction: column;
}
.info p, input {
    margin: 0 20px;
}
.info input {
    border: none;
    padding: 2px 0;
}